/ObligatorioIng/build/
/ObligatorioIng/dist/
/ObligatorioIng/nbproject/private/
/ObligatorioIng/build/
/ObligatorioIng/nbbuild/
/ObligatorioIng/dist/
/ObligatorioIng/nbdist/
/ObligatorioIng/nbactions.xml
/ObligatorioIng/.nb-gradle/